xml/tscuba.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="product">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="details" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="producttype" type="xs:string"/>
              <xs:element name="productname" type="xs:string"/>
              <xs:element name="price" type="xs:string"/>
              <xs:element name="colour" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
